h1 {
    color: #7b5c00;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h2 {
    color: #7b5c00 transparent;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p {
    color: rebeccapurple;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#sefu {
    height: 600px;
    width: 600px;
    display: none;
}

#caca {
    height: 600px;
    width: 600px;
    display: none;
}

#tigaie {
    height: 600px;
    width: 600px;
    display: none;
}

button {
    border-radius: 1000px;  
}

#vb-cu-sefu {
    font-size: large;
}

#list  p {
    font: arial;
    font-size: 14px;
    background-color: yellow ;
}

#maria {
    height: 600px;
    width: 600px;
    display: none;
}

#fata {
    height: 600px;
    width: 600px;
    display: none;
}

#edi-tigan {
    height: 315px;
    width: 560px;
    display: none;
}

#free-fire {
    height: 315px;
    width: 560px;
    display: none;
}

#violare {
    height: 600px;
    width: 600px;
    display: none;
}

#biscuit {
    height: 600px;
    width: 600px;
    display: none;
}

#amenintare-freefire {
    height: auto;
    width: auto;
    display: none;
}

#giveaway-freefire {
    height: auto;
    width: auto;
    display: none;
}

#giveaway2-freefire {
    height: auto;
    width: auto;
    display: none;
}

#boti-freefire {
    height: auto;
    width: auto;
    display: none;
}

#maregiveaway-freefire {
    height: auto;
    width: auto;
    display: none;
}

#mc-freefire {
    height: auto;
    width: auto;
    display: none;
}

#intoarcerea-freefire {
    height: auto;
    width: auto;
    display: none;
}